
/* Styling untuk container utama */
.container {
    width: 500px;
    height: 400px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
}

/* Styling untuk header */
.header {
    display: flex;
    justify-content: flex-end;
}

/* Styling untuk button X */
.close-button {
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}

/* Styling untuk Login */
.login-text {
    margin-top: 2rem;
    margin-bottom: 0,5rem;
    text-align: left;
    font-family: sans-serif;
    font-size: 30px;
    font: bold;
}

/* Styling untuk Sign Up */
.signup-text {
    margin-bottom: 1rem;
    display: block;
    text-align: right;
}

/* Styling untuk form */
.form-container form {
    margin-bottom: 1rem;
}

/* Styling untuk Need Help */
.need-help {
    display: block;
    margin-bottom: 1rem;
    text-align: right;
}

/* Styling untuk button Next */
.next-button {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
}

/* Styling untuk "or login with" */
.login-with {
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
}

.login-with::before,
.login-with::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    background: #000;
    top: 50%;
}

.login-with::before {
    left: 0;
}

.login-with::after {
    right: 0;
}

/* Styling untuk button Scan Kode QR dan Other Methods */
.other-buttons button {
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;
}

.other-buttons button:last-child {
    margin-bottom: 0;
}
